numpy==1.19.3
streamlit==0.71.0
ChatterBot==1.0.8
pandas==1.1.4
googletrans==2.4.0
spacy==2.3.2
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.3.2/en_core_web_sm-2.3.2.tar.gz#egg=en_core_web_sm
