ChatterBot==1.0.8
numpy==1.19.3
spacy==2.3.2
spacy>=2.2.0
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.2.0/en_core_web_sm-2.2.0.tar.gz#egg=en_core_web_sm
streamlit==0.71.0
googletrans
pandas==1.1.4
