streamlit==0.71.0
spacy>=2.2.0,<3.0.0
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.2.0/en_core_web_sm-2.2.0.tar.gz#egg=en_core_web_sm
./en_core_web_sm-2.2.5.tar.gz
pandas==1.1.4
numpy==1.19.3
ChatterBot==1.0.8
googletrans==3.0.0
